.el-radio-button__inner{
    padding: 8px 5px;
}

.el-form-item{
    display: flex;
    align-items: center;
}

.el-form-item__label {
    line-height: 15px;
    width: 100px !important;
}

.el-form-item__content{
    margin-left: 0px !important;
}