.el-radio-button__inner{
    padding: 5px 7px;
}

.dark .el-radio-button__inner{
    background-color: #000;
}

.el-form-item{
    display: flex;
    align-items: center;
}

.el-form-item__label {
    line-height: 15px;
    width: 100px !important;
}

.el-form-item__content{
    margin-left: 0px !important;
    width: 90%;
}