<!DOCTYPE html>
<html>

<head>
    <title>录入番号</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
    <script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
    <link rel="stylesheet" href="../../css/index.css">

</head>

<body class="addFanhao">
    <div id="app">
        <!-- 检索区域 -->
        <div class="searchArea">
            <el-form ref="searchConditions " :model="searchConditions" label-width="80px" @submit.native.prevent>
                <el-form-item class="rowOne" label="检索番号">
                    <el-input class="input" v-model="searchConditions.keyWord" placeholder="请输入关键字进行检索"
                        style="width: 400px;" @keyup.enter.native="fanhaoSearch">
                    </el-input>
                    <el-button type="primary" @click="fanhaoSearch">查询</el-button>
                    <el-checkbox-group v-model="searchModel">
                        <el-checkbox v-for="option in searchModelOptions" :label="option.label" :key="option.key">
                        </el-checkbox>
                    </el-checkbox-group>
                </el-form-item>

            </el-form>
            <template>
                <el-table :data="searchRes" height="250" border style="width: 100%" @row-click="viewFanhaoPic">
                    <el-table-column prop="fhSeries" label="系列" width="180"> </el-table-column>
                    <el-table-column prop="fhSysFanhao" label="系统番号" width="180"> </el-table-column>
                    <el-table-column prop="fhPrimitiveFanhao" label="原番号"> </el-table-column>
                    <el-table-column prop="ypFilmTitle" label="影片名"> </el-table-column>
                    <el-table-column prop="ypSubSeries" label="子系列"> </el-table-column>
                    <el-table-column prop="ypIssueYmd" label="发行日期"> </el-table-column>
                    <el-table-column label="确认">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="isThis(scope.$index, scope.row)">是</el-button>
                            <el-button size="mini" @click.stop="notThis(scope.$index, scope.row)">不是</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
            <div style="display: flex;">
                <div class="demo-image__preview" v-for="item in selectedFanhao.headPicList"
                    style="margin: 5px; border: 1px solid #efefef;padding: 2px;">
                    <el-image style="height: 115px" :src="item" :preview-src-list="selectedNameLikeActress.headPicList">
                    </el-image>
                </div>
            </div>
        </div>
        <!-- Form表单区域 -->
        <div class="inputArea">
            <el-form ref="fanhao" :model="fanhao" label-width="100px" class="form">
                <div class="infoTypeOne" v-for="fieldPackage in tableDesign.fieldPackages">
                    <div class="infoType">{{fieldPackage.typeName}}:</div>
                    <div class="infoCheck">
                        <template v-for="field in fieldPackage.fields">

                            <!-- 女优 -->
                            <el-form-item class="itemOne" :label="field.columnComment"
                                v-if="field.columnName == 'yyActressNo'" :style="activeItemOneStyle(field)">
                                <el-input class="input" v-model="fanhao['yyActressNo']"
                                    :placeholder="field.columnComment" :disabled="true">
                                </el-input>
                            </el-form-item>

                            <!-- 女优名 -->
                            <el-form-item class="itemOne" :label="field.columnComment"
                                v-else-if="field.columnName == 'yyActress'" :style="activeItemOneStyle(field)">
                                <el-input class="input" v-model="fanhao[field.columnName]"
                                    :placeholder="field.columnComment" :disabled="true">
                                </el-input>
                            </el-form-item>



                            <!-- 下拉列表 -->
                            <el-form-item class="itemOne" :label="field.columnComment"
                                v-else-if="field.columnName == 'fhSeries'" :style="activeItemOneStyle(field)">
                                <el-select v-model="fanhao[field.columnName]" filterable clearable placeholder="请选择">
                                    <el-option v-for="series in seriesList" :key="series.xlSimple"
                                        :label="series.xlSimple" :value="series.xlSimple">
                                        <span style="float: left">{{ series.xlSimple }}</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ series.gdProducer
                                            }}</span>
                                    </el-option>
                                </el-select>
                            </el-form-item>

                            <!-- 文本输入框 -->
                            <el-form-item class="itemOne" :label="field.columnComment" v-else-if="field.type == 'text'"
                                :style="activeItemOneStyle(field)">
                                <el-input class="input" v-model="fanhao[field.columnName]"
                                    :placeholder="field.columnComment" :disabled="field.columnName=='fhSysFanhao'">
                                </el-input>
                            </el-form-item>

                            <!-- 文本域 -->
                            <el-form-item class="itemOne" :label="field.columnComment"
                                v-else-if="field.type == 'textarea'" :style="activeItemOneStyle(field)">
                                <el-input type="textarea" :rows="2" v-model="fanhao[field.columnName]"
                                    :placeholder="field.columnComment" style="width: 100%;">
                                </el-input>
                            </el-form-item>

                            <!-- 等级 -->
                            <el-form-item class="itemOne" :label="field.columnComment" v-else-if="field.type == 'lv'"
                                :style="activeItemOneStyle(field)">
                                <el-radio-group v-model="fanhao[field.columnName]">
                                    <el-radio-button v-for="(value, key, index) in field.lvs" :label="key" :key="key">
                                        {{value}}
                                    </el-radio-button>
                                </el-radio-group>
                            </el-form-item>

                            <!-- 类型 -->
                            <el-form-item class="itemOne" :label="field.columnComment" v-else-if="field.type == 'type'"
                                :style="activeItemOneStyle(field)">
                                <el-radio-group v-model="fanhao[field.columnName]">
                                    <el-radio-button v-for="(item, index) in field.types" :label="item" :key="item">
                                    </el-radio-button>
                                </el-radio-group>
                            </el-form-item>

                            <!-- 年月日 -->
                            <el-form-item class="itemOne" :label="field.columnComment" v-else-if="field.type == 'ymd'"
                                :style="activeItemOneStyle(field)">
                                <el-date-picker format="yyyyMMdd" value-format="yyyyMMdd"
                                    v-model="fanhao[field.columnName]" :placeholder="field.columnComment">
                                </el-date-picker>
                            </el-form-item>

                        </template>
                        <el-button type="primary" @click="gnrtFanhao"
                            v-if="fieldPackage.type == 'fh' && nowEditMode == 0" style="margin-left: 105px;">生成系统番号
                        </el-button>

                        <!-- 下拉列表 -->
                        <el-form-item class="itemOne" label="添加女优" v-if="fieldPackage.type == 'yy'">
                            <el-select v-model="tempActressNo" filterable clearable placeholder="请选择">
                                <el-option v-for="actres in actressList" :key="actres.keyActressNo"
                                    :label="actres.nameStage" :value="actres.keyActressNo">
                                    <span style="float: left">{{ actres.nameStage }}</span>
                                    <span style="float: right; color: #8492a6; font-size: 13px">{{ actres.keyActressNo
                                        }}</span>
                                </el-option>
                            </el-select>
                            <el-button type="primary" @click="addActress" style="margin-left: 105px;">添加女优</el-button>
                        </el-form-item>

                        <div v-if="fieldPackage.type == 'main' && sameStageNameAlert" style="color: red;">已经存在相同的番号
                        </div>


                    </div>
                </div>
                <div class="btnArea">
                    <el-button type="primary" @click="updateFanhao" :disabled="nowEditMode == 0">修改信息</el-button>
                    <el-button type="" @click="resetForm">重置</el-button>
                </div>

            </el-form>
        </div>
        {{tableDesign}} <br><br>
        {{seriesList}} <br><br>
        {{actressList}} <br><br>
        {{tempActress}}

    </div>
</body>
<script>
    axios.defaults.baseURL = 'http://localhost:9090';
    Vue.config.productionTip = false;
    //axios.defaults.withCredentials = true
    new Vue({
        el: "#app",
        data: {

            // 检索番号相关
            searchConditions: {				// 检索条件
                keyWord: "",				// 关键字
                model: "fanhao"				// 检索模式 [like, fanhao]
            },
            searchModel: [],                // 检索模式
            searchModelOptions: [
                { key: "fhPrimitiveFanhao", label: "原番号" },
                { key: "fhSysFanhao", label: "系统番号" },
                { key: "ypFilmTitle", label: "影片名称" },
                { key: "yyActress", label: "女优" },
            ],                              // 检索模式选项
            searchRes: [],					// 检索结果
            selectedFanhao: {},				// 当前选中的检索结果, 用于图片的展示

            // 番号Form
            tableDesign: {},				// 数据库设计
            fanhao: {},						// 番号信息Form表单
            sameStageNameAlert: false,		// 生成番号时, 已经存在相同番号的提示
            nowEditMode: 0,					// 0 - 生成, 1- 更新;

            // 关联数据
            seriesList: [],     // 系列列表
            actressList: [],     // 女优列表

            // 
            tempActressNo: ""    // 临时女优

        },

        computed: {
            tempActress() {
                console.log(this.actressList, this.tempActressNo)
                for (const actress of this.actressList) {
                    if (actress.keyActressNo == this.tempActressNo) {
                        return actress;
                    }
                }
            },   // 临时女优
        },


        methods: {

            // 获取表设计
            getTableDesign() {
                axios.get('/fanhao/getTableDesign')
                    .then(res => {
                        this.tableDesign = res.data.obj;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },

            // 番号搜索
            fanhaoSearch() {
                var _this = this;
                var reqData = this.searchConditions;
                axios({
                    method: 'post',
                    url: '/fanhao/fanhaoSearch',
                    data: reqData,
                }).then((res) => {
                    console.log(res);
                    console.log(res.data);
                    console.log(res.data.obj);
                    this.searchRes = res.data.obj;
                }).catch((err) => {
                    console.log("catch", err);
                }).finally(() => {
                    _this.searchConditions.model = 'like';
                })

            },

            // 查看番号图片
            viewFanhaoPic() {

            },

            // 更新番号
            updateFanhao() {
                var _this = this;
                var reqData = this.fanhao
                axios.post('/fanhao/updateFanhao', reqData)
                    .then(function (res) {
                        var resData = res.data;
                        if (resData.code == 200) {
                            _this.nowEditMode = 1;
                            _this.fanhao = resData.obj;
                            _this.$message.success(resData.msg)

                        } else if (resData.code == '501') {
                            _this.sameStageNameAlert = true;
                            _this.searchConditions.name = _this.actress.nameStage;
                            _this.searchConditions.model = 'match';
                            _this.nameSearch();
                        } else {
                            _this.$alert(resData.msg, '生成失败', {
                                confirmButtonText: '确定'
                            });
                        }
                    })
                    .catch(function (err) {
                        alert(err);
                    })
            },

            // 重置表单
            resetForm() {

            },

            // formItem样式动态调整
            activeItemOneStyle(field) {
                var height = '40px';
                var width = '380px';
                var margin = '5px';

                if (["textarea"].includes(field.type)) {
                    height = 'height:auto';
                    width = '45%'
                }
                if (["jqRoleType", "jqStoryType"].includes(field.columnName)) {
                    width = '770px';
                }
                if (["yyActressNo", "yyActress"].includes(field.columnName)) {
                    width = '90%';
                }

                return { height, width, margin }

            },

            // 生成番号
            gnrtFanhao() {
                var _this = this;
                var reqData = this.fanhao
                axios.post('/fanhao/gnrtFanhao', reqData)
                    .then(function (res) {
                        console.log(res);
                        var resData = res.data;
                        console.log(resData);
                        if (resData.code == 200) {
                            _this.sameStageNameAlert = false;
                            _this.nowEditMode = 1;
                            _this.fanhao = resData.obj;
                            _this.$message.success(resData.msg)

                        } else if (resData.code == '501') {
                            _this.sameStageNameAlert = true;
                            _this.searchConditions.name = _this.actress.nameStage;
                            _this.searchConditions.model = 'match';
                            _this.nameSearch();
                        } else {
                            _this.$alert(resData.msg, '生成失败', {
                                confirmButtonText: '确定'
                            });
                        }
                    })
                    .catch(function (err) {
                        alert(err);
                    })
            },

            // 不是这个番号, 从列表中移除
            notThis(index, row) {
                this.searchRes.splice(index, 1);
            },

            // 是这个番号, 填充到表单中
            isThis(index, row) {
                this.fanhao = row;
                this.nowEditMode = 1;
            },

            // 获取系列列表
            getSeriesList() {
                var url = "/series/getSeriesList";
                var params = {};
                axios.post(url, params)
                    .then(res => {
                        this.seriesList = res.data.obj
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
            // 女优列表查询
            queryActressList() {
                axios.get('/actress/queryActressList')
                    .then(res => {
                        console.log(res)
                        console.log(res.data)
                        this.actressList = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
            // 添加女优
            addActress() {
                console.log(this.fanhao.yyActressNo);
                console.log(this.fanhao.actress);
                console.log(this.tempActress);
                if (!this.fanhao.yyActressNo || this.fanhao.yyActressNo == "未收录") {
                    this.fanhao.yyActressNo = this.tempActress.keyActressNo;
                    this.fanhao.yyActress = this.tempActress.nameStage;
                    this.fanhao.tsTitSizeLv = this.fanhao.tsTitSizeLv || this.tempActress.txTitSize
                } else if (this.fanhao.yyActressNo.indexOf(this.tempActress.keyActressNo) > -1) {
                    this.$alert('女优已存在', '添加失败', {
                        confirmButtonText: '确定'
                    });
                } else {
                    this.fanhao.yyActressNo = this.fanhao.yyActressNo + "," + this.tempActress.keyActressNo;
                    this.fanhao.yyActress = this.fanhao.yyActress + "," + this.tempActress.nameStage;
                }
                console.log(this.fanhao);
            }

        },

        created() {
        },

        mounted() {
            this.getSeriesList();
            this.queryActressList();
            this.getTableDesign();
        },





    })
</script>

</html>