<!DOCTYPE html>
<html>

<head>
	<title>番号</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
	<link rel="stylesheet" href="../../css/main.css" />
	<script src="../../js/vue.js"></script>
	<script src="../../js/axios.js"></script>
	<script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
</head>

<body class="fanhao">
	<div id="app">
		<div class="itemArea">
			<div style="font-size: 20px; margin-bottom: 8px;">查看选项</div>
			<div class="itemTypeOne">
				<div class="itemTypeName">通用:</div>
				<el-checkbox-group v-model="comItemSelected" @change="">
					<el-checkbox class="item" v-for="(value, key) in comItems" :label="key" :key="key">{{value}}
					</el-checkbox>
				</el-checkbox-group>
			</div>
			<div class="itemTypeOne" v-for="fieldPackage in tableDesign.fieldPackages" :key="fieldPackage.type">
				<div class="itemTypeName">{{fieldPackage.typeName}}:</div>
				<el-checkbox-group v-model="fieldPackage.selectedFields" @change="">
					<el-checkbox class="item" v-for="field in fieldPackage.fields" :label="field.columnName"
						:key="field.columnName">{{field.columnComment}}
					</el-checkbox>
				</el-checkbox-group>
			</div>
		</div>
		
		<div class="tableArea">
			<template>
				<el-button size="mini" @click="add()">添加</el-button>
				<el-table :data="fanhaoList" size="medium" style="width: 100%">
					<el-table-column width="55px" label="序号" type="index" v-if="comItemSelected.includes('index')">
					</el-table-column>
					<el-table-column type="expand" label="展开" v-if="comItemSelected.includes('expand')">
						<template slot-scope="props">
							<el-form label-position="left" inline class="demo-table-expand">
								<template v-for="fieldPackage in tableDesign.fieldPackages" :key="">
									<el-form-item v-for="field in fieldPackage.fields" :label="field.columnComment" :key="field.columnName">
										<span>{{ props.row[field.columnName] }}</span>
									</el-form-item>
								</template>
							</el-form>
						</template>
					</el-table-column>
					<el-table-column type="selection" width="55" prop="fhSysFanhao"
						v-if="comItemSelected.includes('selection')"></el-table-column>
					<template v-for="fieldPackage in tableDesign.fieldPackages">

						<el-table-column v-for="field in fieldPackage.fields" :label="field.columnComment"
							:key="field.columnName" :prop="field.columnName"
							v-if="fieldPackage.selectedFields.includes(field.columnName)" :width="activeWidth(field.columnName)">
							<!-- <template slot-scope="props">
							<span>{{ match(props.row, key) }}</span>
						</template> -->
						</el-table-column>
					</template>

					<el-table-column label="操作" v-if="comItemSelected.includes('option')">
						<template slot-scope="scope">
							<el-button size="mini" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
							<el-button size="mini" type="success" @click="handlelook(scope.$index, scope.row)">删除
							</el-button>
						</template>
					</el-table-column>
				</el-table>
			</template>

		</div>
	</div>
</body>
<script>
	axios.defaults.baseURL = 'http://localhost:9090';
	Vue.config.productionTip = false;
	new Vue({
		el: "#app",
		data: {

			tableDesign: {},    // 表设计
			fanhaoList: [],     // 番号列表

            // 非数据库设计展示项
			comItems: { "index": "序号", "option": "操作", "expand": "展开", "selection": "选择" },
			comItemSelected: ["expand"],
			comItemSelectAll: true,

		},



		methods: {
            // 获取表设计
			getTableDesign() {
				axios.get('/fanhao/getTableDesign')
					.then(res => {
						this.tableDesign = res.data.obj;
					})
					.catch(err => {
						console.error(err);
					})
			},

            // 获取番号列表
			queryFanhaoList() {
				axios.get('/fanhao/queryFanhaoList')
					.then(res => {
						console.log(res)
						console.log(res.data)
						this.fanhaoList = res.data;
					})
					.catch(err => {
						console.error(err);
					})
			},
			
            // 宽度自适应
			activeWidth(field) {
				if (["ypFilmTitle"].includes(field)) {
					return 300;
				} else {
					return 150;
				}
			},

		},

		created() {
		},

		mounted() {
			this.getTableDesign();
			this.queryFanhaoList();
		},

	})
</script>

</html>