<!DOCTYPE html>
<html lang="en">

<head>
    <title>系列管理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
    <script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>

    <div id="app">

        <!-- 展示选项区域 -->
        <div class="itemArea">
            <div style="font-size: 20px; margin-bottom: 8px;">查看选项</div>
            <div class="itemTypeOne">
                <div class="itemTypeName">通用:</div>
                <el-checkbox-group v-model="comItemSelected" @change="">
                    <el-checkbox class="item" v-for="(value, key) in comItems" :label="key" :key="key">{{value}}
                    </el-checkbox>
                </el-checkbox-group>
            </div>
            <div class="itemTypeOne" v-for="fieldPackage in tableDesign.fieldPackages" :key="fieldPackage.type">
                <div class="itemTypeName">{{fieldPackage.typeName}}:</div>
                <el-checkbox-group v-model="fieldPackage.selectedFields" @change="">
                    <el-checkbox class="item" v-for="field in fieldPackage.fields" :label="field.columnName"
                        :key="field.columnName">{{field.columnComment}}
                    </el-checkbox>
                </el-checkbox-group>
            </div>
        </div>

        <!-- 数据列表区域 -->
        <div class="tableArea">
            <el-table :data="seriesList" size="medium" style="width: 100%">
                <el-table-column width="55px" label="序号" type="index" v-if="comItemSelected.includes('index')">
                </el-table-column>
                <el-table-column type="expand" label="展开" v-if="comItemSelected.includes('expand')">
                    <template slot-scope="props">
                        <!-- Form表单区域 -->
                        <div class="inputArea">

                            <el-form label-position="left" class="demo-table-expand form" ref="props.row"
                                :model="props.row" label-width="80px">
                                <div class="infoTypeOne" v-for="fieldPackage in tableDesign.fieldPackages">
                                    <div class="infoType">{{fieldPackage.typeName}}:</div>
                                    <div class="infoCheck">
                                        <template v-for="field in fieldPackage.fields">

                                            <!-- 下拉列表 -->
                                            <el-form-item class="itemOne"  :label="field.columnComment" v-if="field.columnName == 'gdProducer'" :style="activeItemOneStyle(field)">
                                                <el-select v-model="props.row[field.columnName]" filterable clearable placeholder="请选择">
                                                    <el-option v-for="producer in producerList" :key="producer.csProducer" :label="producer.csProducer" :value="producer.csProducer">
                                                        <span style="float: left">{{ producer.csProducer }}</span>
                                                        <span style="float: right; color: #8492a6; font-size: 13px">{{ producer.nmCn }}</span>
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <!-- 文本输入框 -->
                                            <el-form-item class="itemOne" :label="field.columnComment"
                                                v-else-if="field.type == 'text'" :style="activeItemOneStyle(field)">
                                                <el-input class="input" v-model="props.row[field.columnName]"
                                                    :placeholder="field.columnComment"
                                                    :disabled="field.columnName=='xlSimple' && props.row.rcDataStatus != ''">
                                                </el-input>
                                            </el-form-item>

                                            <!-- 文本域 -->
                                            <el-form-item class="itemOne" :label="field.columnComment"
                                                v-else-if="field.type == 'textarea'" :style="activeItemOneStyle(field)">
                                                <el-input type="textarea" :rows="2"
                                                    v-model="props.row[field.columnName]"
                                                    :placeholder="field.columnComment">
                                                </el-input>
                                            </el-form-item>

                                            <!-- 级别 -->
                                            <el-form-item class="itemOne" :label="field.columnComment"
                                                v-else-if="field.type == 'lv'" :style="activeItemOneStyle(field)">
                                                <el-radio-group v-model="props.row[field.columnName]"     :disabled="field.columnName=='rcDataStatus' && props.row.rcDataStatus == ''">
                                                    <el-radio-button v-for="(value, key, index) in field.lvs"
                                                        :label="key" :key="key">
                                                        {{value}}
                                                    </el-radio-button>
                                                </el-radio-group>
                                            </el-form-item>

                                            <!-- 类型 -->
                                            <el-form-item class="itemOne" :label="field.columnComment"
                                                v-else-if="field.type == 'type'" :style="activeItemOneStyle(field)">
                                                <el-radio-group v-model="props.row[field.columnName]">
                                                    <el-radio-button v-for="(item, index) in field.types" :label="item"
                                                        :key="item">
                                                    </el-radio-button>
                                                </el-radio-group>
                                            </el-form-item>

                                            <!-- 年月日 -->
                                            <el-form-item class="itemOne" :label="field.columnComment"
                                                v-else-if="field.type == 'ymd'" :style="activeItemOneStyle(field)">
                                                <el-date-picker format="yyyyMMdd" value-format="yyyyMMdd"
                                                    v-model="props.row[field.columnName]"
                                                    :placeholder="field.columnComment">
                                                </el-date-picker>
                                            </el-form-item>

                                            <!-- 更换Logo 图标 -->
                                            <el-form-item class="itemOne" :label="field.columnComment"
                                                v-else-if="field.type == 'img'" :style="activeItemOneStyle(field)">
                                                <div class="" style="display: flex;">
                                                    <img :src='props.row.imgLogo' style="margin-right: 15px;">
                                                    <input id='aaa' multiple="multiple" type="file" ref="sysUploadFile"
                                                        @change="changeLogo($event,props.row)" accept="image/*">
                                                </div>
                                            </el-form-item>

                                        </template>
                                    </div>
                                </div>

                                <div class="btnArea">
                                    <el-button type="primary" @click="updateSeries(props.row)" :disabled="!props.row.rcDataStatus">更新</el-button>
                                    <el-button type="primary" @click="gnrtSeries(props.row)" v-if="!props.row.rcDataStatus">生成系列</el-button>
                                </div>

                            </el-form>
                        </div>
                    </template>
                </el-table-column>

                <template v-for="fieldPackage in tableDesign.fieldPackages" :key="">
                    <el-table-column v-for="field in fieldPackage.fields" :label="field.columnComment"
                        :key="field.columnName" :prop="field.columnName"
                        v-if="fieldPackage.selectedFields.includes(field.columnName)">
                        <template slot-scope="props">
                            <img v-if="field.columnName.startsWith('img')" :src='props.row.imgLogo'
                                style="max-width: 80px;max-height:40px" />
                            <span v-else>{{props.row[field.columnName]}}</span>
                        </template>
                    </el-table-column>
                </template>
            </el-table>
            <div class="btnArea">
                <el-button type="primary" @click="newSeries">新增系列</el-button>
            </div>
        </div>
        seriesList={{seriesList}} <br><br>
        tableDesign={{tableDesign}}

    </div>

</body>

<script>
    axios.defaults.baseURL = 'http://localhost:9090';
    Vue.config.productionTip = false;

    new Vue({
        el: "#app",
        data: {


            tableDesign: [],    // 表设计
            seriesList: [],   // 系列列表
            producerList: [],   // 系列列表
            comItems: { "index": "序号", "expand": "展开" },
            comItemSelected: ["index", "expand"],



        },

        methods: {
            getTableDesign() {
                var url = "/series/getTableDesign";
                var params = { tableName: "D_PRODUCER" };
                axios.post(url, params)
                    .then(res => {
                        if (res.data.code == "200") {
                            this.tableDesign = res.data.obj;
                        } else {
                            this.$message.warning(res.data.msg);
                        }
                    })
                    .catch(err => {
                        this.$message.error(err);
                    })
            },
            getSeriesList() {
                var url = "/series/getSeriesList";
                var params = {};
                axios.post(url, params)
                    .then(res => {
                        this.seriesList = res.data.obj
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },

            getProducerList() {
                var url = "/producer/getProducerList";
                var params = {};
                axios.post(url, params)
                    .then(res => {
                        this.producerList = res.data.obj
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },


            // formItem样式动态调整
            activeItemOneStyle(field) {
                var height = '40px';
                var width = '380px';
                var margin = '5px';

                if (["textarea"].includes(field.type)) {
                    height = 'height:auto';
                    width = '45%'
                }
                if (["xmAppearanceIndex"].includes(field.columnName)) {
                    width = '770px';
                }
                if (["imgLogo"].includes(field.columnName)) {
                    width = '770px';
                }

                return { height, width, margin }

            },


            // 新增系列
            newSeries() {
                this.seriesList.push(
                    {   xlSimple: "", xlFull: "", 
                        nmJp: "", nmCn: "", 
                        wzGw: "", 
                        fhPattern: "", fhRuler: "", 
                        gdProducer: "", gdMosaic: "", gdSubSeries: "", 
                        imgLogo: null, 
                        msResume: "", msDetail: "", 
                        rcRecordTime: "", rcRecorder: "", rcLastModifiedTime: "", rcLastModifier: "", rcDataStatus: ""
                    }
                )
            },

            // 生成系列
            gnrtSeries(row){
                console.log(row);
                var url = "/series/gnrtSeries";
                var params = row;
                // row.rcDataStatus = '1';
                // console.log(row);
                axios.post(url, params)
                    .then(res => {
                        if (res.data.code == 200) {
                            row.rcDataStatus = res.data.obj.rcDataStatus;
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }

                    }).catch(err => {
                        this.$message.error(err);
                    })
            },

            // 更新厂商
            updateSeries(row) {
                console.log(row);
                var url = "/series/updateSeries";
                var params = row;
                axios.post(url, params)
                    .then(res => {
                        if (res.data.code == 200) {
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).catch(err => {
                        this.$message.error(err);
                    })
            },


            changeLogo(event, row) {
                let file = event.target.files[0];
                // let formData = new FormData();
                // formData.append('id', _that.uuid);
                // formData.append('groupType', "0");
                // for (let i = 0; i < file.length; i++) {
                //     formData.append('files', file[i]);
                // }

                console.log(file);
                console.log(file.path);
                var reader = new FileReader();
                reader.onloadend = function () {
                    row.imgLogo = reader.result;
                }
                if (file) {
                    reader.readAsDataURL(file);
                }
                // let url = null;
                // if (window.createObjectURL != undefined) {
                //     // basic
                //     url = window.createObjectURL(file);
                // } else if (window.webkitURL != undefined) {
                //     // webkit or chrome
                //     url = window.webkitURL.createObjectURL(file);
                // } else if (window.URL != undefined) {
                //     // mozilla(firefox)
                //     url = window.URL.createObjectURL(file);
                // }
                // console.log(url)
            }
        },

        created() {
        },

        mounted() {
            this.getTableDesign();
            this.getSeriesList();
            this.getProducerList();
        },
    })


</script>

</html>