<!DOCTYPE html>
<html>

<head>
	<title>管理</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
	<script src="../../js/vue.js"></script>
    <script src="../../js/axios.js"></script>
	<script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
	<link rel="stylesheet" href="../../css/index.css">

</head>

<body>
	<!-- 地区模块 -->
	<div id="areaModel" >
		<!-- 操作 -->
		<el-row>
			<el-button type="primary" @click="refreshAreaList()">刷新</el-button>
			<el-button type="primary" @click="addArea()">添加地区</a></el-button>
		</el-row>
		<!-- 选择 -->
		<template>
			<el-checkbox v-model="checkAll" @change="checkAllAreaColumns">全选</el-checkbox>
			<div style="margin: 15px 0;"></div>
			<el-checkbox-group v-model="checkedAreaColumns" @change="checkedAreaColumnsChange">
				<el-checkbox v-for="column in areaColumns" :label="column.columnName" :key="column">{{column.columnComment}}</el-checkbox>
			</el-checkbox-group>
		</template>
		<!-- 数据 -->
		<template>
			<el-table :data="areaList" height="500px" border style="width: auto">
				<el-table-column type="index" label="序号" width="50" v-if="checkedAreaColumns.includes('index')"></el-table-column>
				<el-table-column prop="status" label="状态" width="80"  v-if="checkedAreaColumns.includes('status')">
					<template slot-scope="{row}">
						<span v-if="row.status==0">添加中</span>
						<span v-if="row.status==1">正常</span>
						<span v-if="row.status==2">编辑中</span>
					</template>
				</el-table-column>
				<el-table-column prop="areaId" label="地区ID" width="70" v-if="checkedAreaColumns.includes('areaId')"></el-table-column>
				<el-table-column prop="areaName" label="地区名" v-if="checkedAreaColumns.includes('areaName')">
					<template slot-scope="{row}">
						<span v-if="row.status==1">{{row.areaName}}</span>
						<el-input v-model="row.areaName" v-if="row.status!=1" placeholder="请输入地区名"></el-input>
					</template>
				</el-table-column>
				<el-table-column prop="resume" label="简述" v-if="checkedAreaColumns.includes('resume')">
					<template slot-scope="{row}">
						<span v-if="row.status==1">{{row.resume}}</span>
						<el-input v-model="row.resume" v-if="row.status!=1" placeholder="请输入"></el-input>
					</template>
				</el-table-column>
				<el-table-column prop="detail" label="详述" v-if="checkedAreaColumns.includes('detail')">
					<template slot-scope="{row}">
						<span v-if="row.status==1">{{row.detail}}</span>
						<el-input v-model="row.detail" type="textarea" :rows="1" v-if="row.status!=1" placeholder="请输入"></el-input>
					</template>
				</el-table-column>
				<el-table-column label="操作" width="200" v-if="checkedAreaColumns.includes('operation')">
					<template slot-scope="scope">
						<el-button @click="submitAddArea(scope.row, scope.$index)" v-if="scope.row.status==0" type="primary" size="small">提交添加</el-button>
						<el-button @click="modifyArea(scope.row, scope.$index)" v-if="scope.row.status==1" size="small">修改</el-button>
						<el-button @click="deleteArea(scope.row, scope.$index)" v-if="scope.row.status==1" type="warning" size="small">删除</el-button>
						<el-button @click="submitModifyArea(scope.row, scope.$index)" v-if="scope.row.status==2" type="primary" size="small">提交修改</el-button>
						<el-button @click="areaCannel(scope.row, scope.$index)" v-if="scope.row.status!=1" size="small">取消</el-button>
					</template>
				</el-table-column>
			</el-table>
		</template>		
		{{areaList}}<br>
		{{checkedAreaColumns}}<br>
		{{areaColumns}}<br>

	</div>
</body>
<script>
	axios.defaults.withCredentials = true
	new Vue({
		el: "#areaModel",
		data: {
			/*分页相关*/
			seriesList: [
				{"status":1, "seriesId":1,"areaId":"1","producer":"东京热","series":"N系列","investor":"未录入","fanhaoSymbol":"n","fanhaoRuler":"n开头后面四位数字","seriesResume":"东京热, 就是东京很热","seriesDetails":"东京热, 经典配乐, 女优好看"}
			],
			areaColumns: [
				{"columnName":"index", "columnComment":"序号"},
				{"columnName":"status", "columnComment":"状态"},
				{"columnName":"areaId", "columnComment":"ID"},
				{"columnName":"areaName", "columnComment":"地区名"},
				{"columnName":"resume", "columnComment":"简述"},
				{"columnName":"detail", "columnComment":"详述"},
				{"columnName":"operation", "columnComment":"操作"}
			],
			checkedAreaColumns: [
				"index", "status", "areaName", "resume", "operation"
			],
			areaList: [
				{"status":"1", "areaId":"1", "areaName":"日本", "resume":"日本", "detail":"日本, 主要为黄种人, 以大和民族为主"},
				{"status":"2", "areaId":"2", "areaName":"中国", "resume":"中国", "detail":"中国, 主要为黄种人, 华人地区"},
				{"status":"0", "areaId":"3", "areaName":"欧美", "resume":"欧洲美国等西方地区", "detail":"欧洲美国等西方地区, 主要为白种人和黑人"},
				{"status":"1", "areaId":"4", "areaName":"动漫", "resume":"动漫", "detail":"动漫不区分地区"},
				{"status":"1", "areaId":"5", "areaName":"东南亚,韩国", "resume":"东南亚小国和韩国", "detail":"东南亚小国和韩国"},
				{"status":"1", "areaId":"0", "areaName":"未录入", "resume":"还未检索到准确信息", "detail":"还未检索到准确信息"},
				{"status":"1", "areaId":"-1", "areaName":"无法确定", "resume":"经过检索, 无法区分地区", "detail":"经过检索, 无法区分地区"},
				{"status":"1", "areaId":"-2", "areaName":"无地区", "resume":"不需要区分地区", "detail":"不需要区分地区"},
			],

			checkAll: false,

		},

		methods: {

			load(){
				this.getArea
			},
			
			/* 地区模块 Start */
			loadAreaList(){
				axios({
					method:'post',
					url:'http://localhost:9090/producer/test'
				}).then(function(response) {
					console.log(response.data);
				});
			},

			//添加地区
			addArea() {		
				this.areaList.push(
					{"status":"0", "areaId":"0", "areaName":""},
				);
			},

			//提交添加地区
			submitAddArea(row, index){
				let data = this.areaList[index];
				axios.post("http://localhost:9090/area/addArea",data)
				.then(res=>{
					console.log('res=', res);
				})
			},
	
			checkAllAreaColumns(val) {
				this.checkedAreaColumns = [];
				if (val) {
					this.areaColumns.forEach(element => {
						console.log(element);
						this.checkedAreaColumns.push(element.columnName);
					});					
				}
			},
			
			checkedAreaColumnsChange(value) {
				this.checkAll = value.length === this.areaColumns.length;
			}, 

			modifyArea(row, index){
				this.areaList[index].status = 2;
			},

			areaCannel(row, index) {
				console.log(row);
				console.log(index);
				if (row.status=="0") {
					this.areaList.splice(index, 1);
				} else {
					this.areaList[index].status = 1;
				}
			}
			/* 地区模块 End */
	
},

		mounted () { // 生命周期函数,就是vue-app在生成的过程中,会被按照顺序触发执行的方法函数
            
            this.load();
        }
		


	})
</script>

</html>